html, body, div, dl, dt, dd, ul,  h1, h2, h3,  pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
body { font-family: 'San Francisco Display';font-size: 16px; color: #111; }
table { border-collapse:collapse; border-spacing:0 }
ul { padding: 0; margin: 0; }
ul, li { list-style: none }
button:focus , input:focus, textarea:focus { outline: none }
span, a { display: inline-block }
a {color: #ffc20e; }
a:hover , a:focus{color: #ffc20e; outline: none; text-decoration: none; transition: all 0.4s ease; }
.container{max-width: 1200px;width: 100%; padding: 0 15px}
.row {margin: 0 -15px}
.row > div {padding: 0 15px}
body img{max-width: 100%;transition: all ease 0.5s;}
input, select{transition: all ease 0.4s;}
button{cursor: pointer;transition: 0.3s all ease;}
iframe{display: block;max-width: 100%;width: 100%;}
select:focus {outline: none}
h1, h2, h3, h4, h5, h6 {line-height: 1.25;}
.h3, h3 {font-size: inherit}
.flex {display: flex;display: -webkit-flex;}
.flex-center {display: flex;display: -webkit-flex;align-items: center;}
.flex-center-center {display: flex;display: -webkit-flex;align-items: center;justify-content: center;}
.flex-center-end {display: flex;display: -webkit-flex;align-items: center;justify-content: flex-end;}
.flex-center-start {display: flex;display: -webkit-flex;align-items: center;justify-content: flex-start;}
.flex-center-between {display: flex;display: -webkit-flex;align-items: center;justify-content: space-between;}
.flex-end-end {display: flex; display: -webkit-flex; align-items: flex-end; justify-content: flex-end}
.flex-between {display: flex; display: -webkit-flex; justify-content: space-between}
.inflex-center-center {display: inline-flex;display: -webkit-inline-flex;align-items: center;justify-content: center;}
.absolute {position: absolute;left: 0;top:0;z-index: 2;height: 100%;width: 100%}
.relative {position: relative;}
.pdt-30 {padding-top: 30px}
.pd-100 {padding: 100px 0}
.pd-15 {padding: 15px 0;}
.pd-015 {padding: 0 15px;}
.pd-30 {padding: 30px 0;}
.pd-40 {padding: 40px 0;}
.pd-040 {padding: 0 40px;}
.pd-55 {padding: 50px;}
.pd-60 {padding: 60px 0;}
.mg-10 {margin: 10px 0;}
.mg-20 {margin: 20px 0;}
.mgt-10 {margin-top: 10px;}
.mgb-10 {margin-bottom: 10px;}
.mgt-20 {margin-top: 20px;}
.mgb-20 {margin-bottom: 20px;}
.mgt-30 {margin-top: 30px;}
.mgb-30 {margin-bottom: 30px;}
.mgr-15 {margin-right: 15px;}
.mgb-40 {margin-bottom: 40px}
.mgb-60 {margin-bottom: 60px}
.mgl-10 {margin-left: 10px}
.mgr-10 {margin-right: 10px}
.mgt-50 {margin-top: 50px;}
::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.6);font-size: 14px;}
::-moz-placeholder { color: rgba(255, 255, 255, 0.6);font-size: 14px;}
:-ms-input-placeholder { color: rgba(255, 255, 255, 0.6);font-size: 14px;}
.table {margin-bottom: 0}
.zoom-2,.zoom {display: block;overflow: hidden;}
.zoom-2:hover img,.zoom:hover img {transform: scale(1.1);-webkit-transform: scale(1.1);}
.height-100 {height: 100%}
.zoom-img {display: block;position: relative}
.zoom-img:before {content: ''; display: block}
.zoom-img span {position: absolute; top: 0;bottom: 0;left: 0;right: 0; z-index: 2}
.zoom-img span img {object-fit: cover;height: 100%;width: 100%}