@import "reset.css";
@import "fonts.css";
#back-to-top{
    background-color: #fab702;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    position: fixed;
    right: 50px;
    bottom: 80px;
    z-index: 999;
    opacity: 0;
    width: 40px;
    height: 40px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    transition:opacity ease 0.3s;
}
#back-to-top.show{opacity:1;}
header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
}
.banner-social {
    background-color: rgba(65, 64, 66, 0.95);
    position: absolute;
    left: 0;
    bottom: 0;
    top: 138px;
    z-index: 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: calc((100vw - 1200px)/4);
}
.logo {
    background-color: rgba(65, 64, 66, 0.95);
    height: 138px;
    position: fixed;
    top: 0;
    left: 0;
    width: calc((100vw - 1200px)/2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
}
.header_main {
    height: 138px;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
}
.user {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.user span {
    flex: 0 0 32px;
    max-width: 32px;
    margin-right: 7px;
}
.user span img {
    border-radius: 50%;
    object-fit: cover;
    height: 32px;
    width: 100%;
}
.banner:before {
    background: rgba(19, 19, 19, 0.4);
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
}
.language {
    background-color: #ffc20e;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: #414042;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 20px;
}
.language:hover {
    background-color: #414042;
}
.btn-search {
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
    height: 32px;
    width: 32px;
}
.btn-search:hover {
    background-color: #ffc20e;
}
.btn-search i {
    color: #fff;
    font-size: 16px;
}
.fixed-header .logo, .fixed-header .header_main {
    height: 80px;
}
.fixed-header .header_main {
    background-color: rgba(65, 64, 66, 0.95);
}
.fixed-header .logo {
    background: transparent;
}
.social a {
    color: #606060;
    font-size: 18px;
    display: block;
    margin-bottom: 45px;
}
.social a:hover {
    color: #ffc20e;
}
.swiper-button-prev:after, .swiper-button-next:after {
    display: none;
}
.banner .swiper-button-prev {
    left: calc((100vw - 1200px)/4);
}
.banner .swiper-button-prev i {
    margin-right: 10px;
    opacity: 0.5;
}
.banner .swiper-button-next {
    left: calc(((100vw - 1200px)/4) + 120px);
    right: auto;
}
.banner .swiper-button-next i {
    margin-left: 10px;
    opacity: 0.5;
}
.banner .swiper-button {
    letter-spacing: 5.12px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    top: 60%;
    text-transform: uppercase;
}
.banner .swiper-button:hover {
    color: #ffc20e;
}
.banner .swiper-button:hover i {
    opacity: 1;
}
.banner-item img {
    object-fit: cover;
    height: 768px;
    width: 100%;
}
.swiper-pagination .current {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 8px;
    color: #ffc20e;
}
.swiper-pagination .total {
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.swiper-pagination .total span {
    margin-left: 10px;
}
.swiper-pagination  div {
    display: inline-block;
    padding: 10px 60px 0 0;
    position: relative;
}
.banner .swiper-pagination {
    max-width: 1200px;
    margin: 0 auto;
    right: 0;
    text-align: right;
    padding: 0 15px;
}
.box-list {
    background: url("../images/bg-22.png") no-repeat left 85px top 200px ,url("../images/bg-2.jpg") no-repeat bottom right /cover;
    padding: 60px 0 150px 0;
}
.list-item .zoom-img:before {
    padding-bottom: 33%;
}
.list-cache {
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #414042;
    padding: 20px 15px 0 15px;
}
.list-cache h2 {
    margin-bottom: 20px;
    padding-left: 90px;
}
.list-cache h2 a {
    color: #ffc20e;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.list-cache .col-md-6 {
    margin-bottom: 20px;
}
.ls-item > a {
    border-radius: 50%;
    flex: 0 0 40px;
    max-width: 40px;
    margin-right: 10px;
}
.ls-item > a img {
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
    width: 100%;
}
.ls-item h4 {
    line-height: 1;
    font-size: 16px;
    margin-bottom: 5px;
}
.ls-item h4 a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.ls-item h4 a:hover {
    color: #ffc20e;
}
.ls-item p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.ls-item p span {
    color: #ffc20e;
    font-weight: 600;
}
.ls-log {
    width: 82px;
    height: 82px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    background-color: #414042;
    position: absolute;
    left: 10px;
    top: -41px;
    z-index: 2;
    padding: 5px;
}
.re-item {
    border-radius: 12px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #3f3e40;
    display: flex;
}
.re-item > a {
    border-radius: 12px 12px 0 12px;
    flex: 0 0 100px;
    max-width: 100px;
}
.re-item > a img {
    object-fit: cover;
    height: 100px;
    width: 100%;
}
.re-text {
    padding: 10px;
}
.re-text h4 {
    margin-bottom: 5px;
}
.re-text h4 a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.re-text p {
    color: #fff;
    font-weight: 500;
}
.re-text p span {
    font-weight: bold;
}
.title-page {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.list-re {
    padding-top: 20px;
}
.projects-title {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 7px;
    color: #fff;
    margin-bottom: 40px;
    text-transform: uppercase;
    margin-top: -93px;
}
.projects-title span span {
    color: #ffc20e;
}
.pj-item .zoom-img:before {
    padding-bottom: 180%;
}
.pj-abs {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.pj-text {
    background-color: rgba(68, 68, 68, 0.7);
    height: 100%;
    position: relative;
    z-index: 2;
    transition: all ease 0.3s;
}
.pj-text h4 {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 10px;
    text-align: center;
    transition: all ease 0.5s;
}
.pj-text h4 a {
    font-size: 25px;
    font-weight: 500;
    color: #fefefe;
    text-transform: uppercase;
}
.btn-dt {
    background: rgba(255, 194, 14, 0.84);
    border-radius: 50%;
    color: #414042;
    font-size: 30px;
    height: 100px;
    width: 100px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: all ease 0.5s;
}
.btn-dt:hover {
    color: #414042;
}
.pj-item:hover .pj-text {
    background: transparent;
}
.pj-item:hover .pj-text h4 {
    opacity: 0;
    visibility: hidden;
}
.pj-item:hover .btn-dt {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
footer {
    background: #272727;
    padding: 40px 0;
}
.ft-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ft-social a {
    color: #606060;
    font-size: 16px;
}
.ft-social a:hover {
    color: #ffc20e;
}
.ft-social a:not(:last-child) {
    margin-right: 30px;
}
.copyright {
    color: #8c8c8c;
    font-size: 15px;
}

.pj-slider .swiper-button {
    color: #fff;
    font-size: 16px;
    letter-spacing: 5.12px;
    text-transform: uppercase;
}
.pj-slider .swiper-button:hover {
    color: #ffc20e;
}
.pj-slider .swiper-button-prev {
    left: 60px;
}
.pj-slider .swiper-button-prev i {
    margin-right: 10px;
}
.pj-slider .swiper-button-next {
    right: 60px;
}
.pj-slider .swiper-button-next i {
    margin-left: 10px;
}
.banner-page {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 35%;
    left: 0;
    z-index: 2;
}
.banner-page h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #fff;
}