.page-item span {
    background-color: #464646;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    height: 40px;
    width: 40px;
}

.page-item.disabled .page-link {
    background-color: #464646;
    color: white;
    font-weight: 600;
}

.page-item.active span.page-link {
    background-color: #ffc20e;
    color: #282a30;
    font-weight: 600;
}

.error-find select {
    background: #323232 !important;
    color: white;
}

.error-find select option {
    color: white;
}

#form-search-bug input {
    color: inherit !important;
}

