.page-item span {
    background-color: #464646;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    height: 40px;
    width: 40px;
}

.page-item.disabled .page-link {
    background-color: #464646;
    color: white;
    font-weight: 600;
}

.page-item.active span.page-link {
    background-color: #ffc20e;
    color: #282a30;
    font-weight: 600;
}

.er-tbl .desc p {
    white-space: break-spaces;
    max-height: calc(1.4em * 4);
    overflow: hidden;
    padding: 0;
    text-overflow: clip;
    line-height: 1.4em;
}

.view_text > p {
    white-space: break-spaces;
}
.pj-article > * {
    max-width: 100%;
}
